<!doctype html>
<script>
  function del(title, id) {
    if (confirm(title +" 강의를 삭제하시겠습니까?") == true){ // 확인
      $.ajax({
        type: "POST",
        url: "/lecture/delete",
        data: {
          lec_id: id
        },
        dataType: "json",
        success: function(data) {
          if (data.result == true) {
            alert("강의 삭제 완료!");
            location.reload();
          } else {
            alert(data.message);
          }
        },
        error: function(e) {
          alert("다시 시도해주세요.");
        }
      });
    } else { // 취소
      return false;
    }
  }
</script>

<div class="bradcam_area breadcam_bg overlay2">
  <h3><%= reglabel %> 님의 강의 정보</h3>
</div>

<div class="popular_courses">
  <div class="all_courses">
    <div class="container">
      <table class="table text-center">
        <thead>
          <tr>
            <th>순번</th>
            <th>강의명</th>
            <th>강의설명</th>
            <th>수강자 수</th>
            <th>퀴즈 수</th>
            <th></th>
          </tr>
          <thead>
          <tbody>
            <%  lecdata.forEach(function (item, index) { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= item.title %></td>
              <td><%= item.exp %></td>
              <td><%= lqdata[index*2][0].learner %></td>
              <td><%= lqdata[index*2+1][0].quiz %> </td>
              <td><a style="cursor: pointer;" onclick="del('<%= item.title %>', '<%= item.id %>');" class="badge badge-warning">삭제</a></td>
            </tr>
            <% }); %>
          </tbody>
      </table>
      <% if(lecdata.length < 1) { %>
        <div class="text-center">
          <p><%= warn_message %></p>
        </div>
      <% } %>
    </div>
  </div>
</div>
